
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        input[type=text]:focus {
            background: Yellow repeat-x 0 0;
        }

        textarea:focus {
            background: Yellow repeat-x 0 0;
        }
    </style>
    <link href="~/Content/Site1.css" rel="stylesheet" />

    <script src="~/Scripts/json2.min.js"></script>
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.js"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>

    <script src="~/Scripts/anychart/iran.js"></script>
    <script src="~/Scripts/anychart/proj4.js"></script>
    <script src="~/Scripts/anychart/anychart-base.min.js"></script>
    <script src="~/Scripts/anychart/anychart-annotations.min.js"></script>
    <script src="~/Scripts/anychart/anychart-bullet.min.js"></script>
    <script src="~/Scripts/anychart/anychart-bundle.min.js"></script>
    <script src="~/Scripts/anychart/anychart-cartesian.min.js"></script>
    <script src="~/Scripts/anychart/anychart-core.min.js"></script>
    <script src="~/Scripts/anychart/anychart-circular-gauge.min.js"></script>
    <script src="~/Scripts/anychart/anychart-data-adapter.min.js"></script>
    <script src="~/Scripts/anychart/anychart-default-theme.min.js"></script>
    <script src="~/Scripts/anychart/anychart-cartesian-3d.min.js"></script>
    <script src="~/Scripts/anychart/anychart-editor.min.js"></script>
    <script src="~/Scripts/anychart/anychart-exports.min.js"></script>
    <script src="~/Scripts/anychart/anychart-gantt.min.js"></script>
    <script src="~/Scripts/anychart/anychart-heatmap.min.js"></script>
    <script src="~/Scripts/anychart/anychart-linear-gauge.min.js"></script>
    <script src="~/Scripts/anychart/anychart-map.min.js"></script>
    <script src="~/Scripts/anychart/anychart-mekko.min.js"></script>
    <script src="~/Scripts/anychart/anychart-pareto.min.js"></script>
    <script src="~/Scripts/anychart/anychart-pert.min.js"></script>
    <script src="~/Scripts/anychart/anychart-pie.min.js"></script>
    <script src="~/Scripts/anychart/anychart-polar.min.js"></script>
    <script src="~/Scripts/anychart/anychart-pyramid-funnel.min.js"></script>
    <script src="~/Scripts/anychart/anychart-radar.min.js"></script>
    <script src="~/Scripts/anychart/anychart-resource.min.js"></script>
    <script src="~/Scripts/anychart/anychart-scatter.min.js"></script>
    <script src="~/Scripts/anychart/anychart-sparkline.min.js"></script>
    <script src="~/Scripts/anychart/anychart-stock.min.js"></script>
    <script src="~/Scripts/anychart/anychart-table.min.js"></script>
    <script src="~/Scripts/anychart/anychart-sunburst.min.js"></script>
    <script src="~/Scripts/anychart/anychart-tag-cloud.min.js"></script>
    <script src="~/Scripts/anychart/anychart-treemap.min.js"></script>
    <script src="~/Scripts/anychart/anychart-ui-binding.min.js"></script>
    <script src="~/Scripts/anychart/anychart-ui.min.js"></script>
    <script src="~/Scripts/anychart/anychart-venn.min.js"></script>
    <script src="~/Scripts/anychart/anychart-vml.min.js"></script>
    <script src="~/Scripts/anychart/anychart-waterfall.min.js"></script>
    <script src="~/Scripts/anychart/graphics.min.js"></script>
    @*theme*@
    <script src="~/Scripts/anychart/themes/coffee.min.js"></script>
    <script src="~/Scripts/anychart/themes/dark_blue.min.js"></script>
    <script src="~/Scripts/anychart/themes/dark_earth.min.js"></script>
    <script src="~/Scripts/anychart/themes/dark_glamour.min.js"></script>
    <script src="~/Scripts/anychart/themes/dark_provence.min.js"></script>
    <script src="~/Scripts/anychart/themes/dark_turquoise.min.js"></script>
    <script src="~/Scripts/anychart/themes/light_blue.min.js"></script>
    <script src="~/Scripts/anychart/themes/light_earth.min.js"></script>
    <script src="~/Scripts/anychart/themes/light_glamour.min.js"></script>
    <script src="~/Scripts/anychart/themes/light_provence.min.js"></script>
    <script src="~/Scripts/anychart/themes/light_turquoise.min.js"></script>
    <script src="~/Scripts/anychart/themes/monochrome.min.js"></script>
    <script src="~/Scripts/anychart/themes/pastel.min.js"></script>
    <script src="~/Scripts/anychart/themes/morning.min.js"></script>
    <script src="~/Scripts/anychart/themes/sea.min.js"></script>
    <script src="~/Scripts/anychart/themes/wines.min.js"></script>


    <link href="https://static.neshan.org/sdk/leaflet/1.4.0/leaflet.css" rel="stylesheet" type="text/css">
    <script src="https://static.neshan.org/sdk/leaflet/1.4.0/leaflet.js" type="text/javascript"></script>
    <script src="https://npmcdn.com/leaflet-geometryutil"></script>

    <script type="text/javascript">
        var chat = $.connection.S_hub;
        var OpenedChat = false;
        var OpenedChatComite = false;
    $(document).ready(function () {

         chat.client.broadcastMessage = function (message) {
            /*var c = App.Contain1;
             c.update({ html: message });
             App.pnlScroll.body.scroll('b', 1000000);*/
             if (App.TicketKartabl)
                 ReloadGrid();

             if (OpenedChat) {
                 Ext.net.DirectMethod.request({
                     url: '/faces/TicketKartabl/LoadChatAdmin',
                     params: {
                         id: Req,
                         CategoryId: category,
                         PerType:Type
                     },
                     success: function (data) {
                         LoadChatAdmin();
                     }
                 });
             }
             else if (OpenedChatComite) {
                 Ext.net.DirectMethod.request({
                     url: '/faces/UserTicket/LoadChatComite',
                     params: {
                         id: Req,
                         CategoryId: category
                     },
                     success: function (data) {
                         LoadChatComite();
                     }
                 });
             }
         };
         $.connection.hub.start();
        /* chat.client.addMessage = function (message, groupName, userid, FriendId) {
             alert(2);
         }*/
    });
    </script>
</head>
<body dir='rtl'>
    @{
    //TrainCautionRol.Models.TrainCoutionRolDBEntities hh = new TrainCautionRol.Models.TrainCoutionRolDBEntities();
    //var ThemeId = 1;
    //if (Session["UserId"] != null)
    //{
    //    var user = hh.sp_tblUserSelect("fldId", Session["UserId"].ToString(), 1, "").FirstOrDefault();
    //    ThemeId = user.fldThemeId;
    //}
    }
    @using Ext.Net.MVC;
    @using Ext.Net;
    @Html.X().ResourceManager().RTL(true).Locale("fa-ir").Theme((Ext.Net.Theme).3)@*.Listeners(l => l.AjaxRequestException.Fn = "HandleError")*@
    @(Html.X().KeyNav()
        .ID("NewNav")
        .Target("={Ext.getBody()}")
        .Enter(a => a.Handler = "EnterNext();")
    )
    <style>
        .x-form-item-label {
            color: black;
            font: normal 12px/14px IRANSansWeb(FaNum),arial,verdana,sans-serif;
            margin-top: 4px;
            text-align: left;
        }

        td {
            vertical-align: top;
        }
    </style>
    <script>
        var HandleError = function (opt, errorMsg) {
            window.location.href = "/faces/Admin/Error?Code=" + opt.status;
        };

        Ext.define("Ext.locale.fa.toolbar.Paging", {
            override: "Ext.PagingToolbar",
            beforePageText: "صفحه",
            afterPageText: "از {0}",
            firstText: "صفحه اول",
            prevText: "صفحه قبل",
            nextText: "صفحه بعد",
            lastText: "صفحه آخر",
            refreshText: "بازخوانی",
            displayMsg: "نمایش {0} - {1} از {2}",
            emptyMsg: 'داده ای برای نمایش وجود ندارد'
        });

        Ext.define("Ext.locale.fa.picker.Month", {
            override: "Ext.picker.Month",
            okText: "تایید",
            cancelText: "انصراف"
        })

        function EnterNext() {
        }

        function Save() { }

        var isWinOpen = false;
        function ReplaceArabic() {
            $("input:text").keyup(function () {
                var str = $(this).val();
                str = str.replace('ك', 'ک');
                str = str.replace('ي', 'ی');
                $(this).val(str);
            });
            $("textarea").keyup(function () {
                var str = $(this).val();
                str = str.replace('ك', 'ک');
                str = str.replace('ي', 'ی');
                $(this).val(str);
            });
        }
        function changeLagToEn(str) {
            var tt = str;
            tt = tt.replace('ش', 'a');
            tt = tt.replace('ذ', 'b');
            tt = tt.replace('ز', 'c');
            tt = tt.replace('ی', 'd');
            tt = tt.replace('ث', 'e');
            tt = tt.replace('ب', 'f');
            tt = tt.replace('ل', 'g');
            tt = tt.replace('ا', 'h');
            tt = tt.replace('ه', 'i');
            tt = tt.replace('ت', 'j');
            tt = tt.replace('ن', 'k');
            tt = tt.replace('م', 'l');
            tt = tt.replace('ئ', 'm');
            tt = tt.replace('د', 'n');
            tt = tt.replace('خ', 'o');
            tt = tt.replace('ح', 'p');
            tt = tt.replace('ض', 'q');
            tt = tt.replace('ف', 't');
            tt = tt.replace('ق', 'r');
            tt = tt.replace('س', 's');
            tt = tt.replace('ع', 'u');
            tt = tt.replace('ر', 'v');
            tt = tt.replace('ص', 'w');
            tt = tt.replace('ط', 'x');
            tt = tt.replace('غ', 'y');
            tt = tt.replace('ظ', 'z');
            tt = tt.replace('ک', ';');
            tt = tt.replace('ج', '[');
            tt = tt.replace('چ', ']');
            tt = tt.replace('ژ', 'C');
            return tt;
        }
        function FaLangAlert(str) {
            var IsFa = false;
            var FaId = 0;
            for (var i = 0; i < str.length ; i++) {
                var c = str.codePointAt(i);
                if (c >= 0x0600 && c <= 0x06FF || c == 0xFB8A || c == 0x067E || c == 0x0686 || c == 0x06AF) {
                    IsFa = true;
                    FaId = i;
                }
            }
            if (IsFa) {
                alert("زبان سیستم را به En تغییر دهید.");
                return str.replace(str[FaId], "");
            }
            else
                return str;
        }
        function changeLagToFa(str) {
            var tt = str;
            tt = tt.replace('a', 'ش');
            tt = tt.replace('b', 'ذ');
            tt = tt.replace('c', 'ز');
            tt = tt.replace('d', 'ی');
            tt = tt.replace('e', 'ث');
            tt = tt.replace('f', 'ب');
            tt = tt.replace('g', 'ل');
            tt = tt.replace('h', 'ا');
            tt = tt.replace('H', 'آ');
            tt = tt.replace('i', 'ه');
            tt = tt.replace('j', 'ت');
            tt = tt.replace('k', 'ن');
            tt = tt.replace('l', 'م');
            tt = tt.replace('m', 'ئ');
            tt = tt.replace('n', 'د');
            tt = tt.replace('o', 'خ');
            tt = tt.replace('p', 'ح');
            tt = tt.replace('q', 'ض');
            tt = tt.replace('t', 'ف');
            tt = tt.replace('r', 'ق');
            tt = tt.replace('s', 'س');
            tt = tt.replace('u', 'ع');
            tt = tt.replace('v', 'ر');
            tt = tt.replace('w', 'ص');
            tt = tt.replace('x', 'ط');
            tt = tt.replace('y', 'غ');
            tt = tt.replace('z', 'ظ');
            tt = tt.replace(';', 'ک');
            tt = tt.replace("'", 'گ');
            tt = tt.replace('[', 'ج');
            tt = tt.replace(']', 'چ');
            tt = tt.replace(',', 'و');
            return tt;
        }
    </script>
    @RenderBody()



</body>
</html>
